body {
    background: black;
    color: cyan;
}

.bp_container {
    overflow-x: hidden;
}



.bp_header {
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    height: 80px;
    margin-left: 7px;
}

.bp_progresser {
    position: absolute;
    top: 10px;
    left: 360px;
    width: 360px;
}

.bp_progress {
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.bp_progress li {
    display: inline-block;
    list-style-type: none;
    border-color: #D8DD82;
    border-style: solid;
    border-width: 2px;
    width: 4px;
    height: 26px;
    background-color: #68744A;
    margin: 0px 2px;

}

.bp_descripter {
    background-image: url(../img/description_area.png);
    background-repeat: no-repeat;
    height: 97px;
    width: 1080px;
    margin-top: 4px;
    overflow-x: hidden;
}

.bp_target_panel {
    float: left;
    width: 536px;
    margin-right: 6px;
    padding-top: 5px;
    padding-left: 8px;
}

.bp_target_panel h2 {
    background-image: url(../img/target_title.png);
    margin: 0px;
    height: 86px;
    width: 235px;
    text-indent: -1400px;
    float:left
}

.bp_segment {
    float:left;
    margin-left: 20px;
}

.bp_status_panel {
    float: left;
    margin: 0px;
    padding-top: 3px;
    padding-left: 62px;
    width: 383px;
}

.bp_status_panel dt,dd {
    margin: 0px;
    float: right;
}

.bp_status_panel dt {
    margin-left: 78px;
    background-image: url(../img/status_title.png);
    width: 191px;
    height: 90px;
    text-indent: -1400px;
}

.bp_slider {
    height: 340px;
    margin-left: 18px;
    margin-top: 3px;
    overflow-y: hidden;
    width: 1042px;
}

.bp_slider ul {
    margin: 0px;
    padding: 0px;
}
.bp_slider ul li {
    margin: 0px 0px -3px 0px;
    padding: 0px;
    list-style-type: none;
}

.bp_card {
    border-style: solid;
    border-width: 1px;
    border-color: #DFBA7A;
    margin-right: 8px;
}

.bp_card:last-child {
    margin-right: 0px;
}

.bp_footer {
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    height: 80px;
    margin-left: 7px;
}
