<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        TABLE {
            border: 2px solid;
        }
        TD {
            border: 1px solid #000000;
        }
        TD.selected {
            background-color: red;
        }

        #container > UL > LI {
            display: inline;
        }

        P {
            margin: 0;
            padding: 0;
        }
        
        DIV.notgood {
            opacity: 0.3;
        }

        TABLE.full_case {
            float: left;
            margin: 30px;
        }
    </style>
</head>
<body>
<div id="container"></div>
<script type="text/javascript" src="js/lib/require.js"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/x-template" id="TPL_TABLE">
    <p></p>
    <table>
    <tbody>
    <% _.each(rows, function(row) { %>
    <tr>
        <% _.each(row, function(col) { %>
        <td <%= col ? 'class="selected"' : '' %>>&nbsp;</td>
        <% }); %>
    </tr>
    <% }); %>
    </tbody>
    </table>
</script>
<script>
    require(['underscore', 'jquery', 'backbone'], function (_, $, Backbone) {
        var checkDirections = [
            function (row, col) {
                return [row + 1, col];
            },
            function (row, col) {
                return [row, col+1];
            },
            function (row, col) {
                return [row, col + 1];
            }
        ];
        function doCheck(data, row, col, direction) {
            if (!data[row] || data[row][col] !== false) {
                return false;
            }

            if (row >= (data.length - 1)) {
                return true;
            }

            direction = direction || 0;
            for(var i = 0; i < checkDirections.length; i++) {
                if (i > 0 && i === direction) {
                    continue;
                }

                var param = checkDirections[i](row, col);
                if (doCheck(data, param[0], param[1], i)) {
                    return true;
                }
            }

            return false;
        }

        var AllCase = [
            [false,false,false],
            [true ,false,false],
            [false,true ,false],
            [false,false,true ],
            [true ,true ,false],
            [true ,false,true ],
            [false,true ,true ]
        ];

        function toCaseRows() {
            var caseNumbers = arguments;
            return _.map(caseNumbers, function (number) {
                return AllCase[number];
            });
        }

        var CaseView = Backbone.View.extend({
            initialize : function (data) {
                this.data = data;
                this.render();
            },
            tagName : "DIV",
            events : {
                "click" : "onClick"
            },

            template : _.template(Backbone.$("#TPL_TABLE").html()),

            render : function () {
                this.$el.html(this.template({
                    rows : toCaseRows.apply(null, this.data)
                }));
                this.$("P").html(this.getName());
                this.checkCan();
            },
            getName : function () {
                return Array.prototype.join.apply(this.data);
            },
            onClick : function () {
                this.$el.toggleClass("notgood");
            },
            __check : function (data) {
                return _.some(data[0], function (col, index) {
                    return doCheck(data, 0, index, 0);
                });
            },
            checkCan : function () {
                if (!this.__check(toCaseRows.apply(null, this.data))) {
                    this.onClick();
                }
            }
        });
        CaseView.build = function () {
            return new CaseView(arguments);
        };


        var CaseGroupView = Backbone.View.extend({
            initialize : function (param) {
                this.childViews = [];
                _.each(_.range(1, AllCase.length), function (secondCaseNumber) {
                    var newParam = [];
                    Array.prototype.push.apply(newParam, param);
                    newParam.push(secondCaseNumber);
                    this.childViews.push(CaseView.build.apply(CaseView, newParam));
                }, this);
                this.render();
            },
            tagName : "TR",
            render : function () {
                _.each(this.childViews, function (c) {
                    $("<TD>").append(c.$el)
                            .appendTo(this.$el);

//                    ul.append("<LI>"+ c.getName()+"</LI>");
//                    ul.appendTo(this.$el);
                }, this);
            }
        });

        function makeTable(i) {
            var $table = $("<TABLE class='full_case'>");
            for (var j = 1; j < AllCase.length; j++) {
                $table.append(new CaseGroupView([i,j]).$el);
            }

            return $table;
        }

        $("#container")
//                .append(makeTable(0))

                .append(makeTable(1))

                .append(makeTable(2))

                .append(makeTable(3))

                .append(makeTable(4))

                .append(makeTable(5))

                .append(makeTable(6));

    });
</script>
</body>
</html>